

body {background-color:#333;
}


/* Head */

.background {
  background-color: #333;
  padding: 160px 50px;
  border: 20px solid #333;
  background-image:url("https://cdn.pixabay.com/photo/2016/11/18/12/55/office-1834294_1280.jpg");
  background-size:cover;
  height:500px;
}


.titulo {
  font-family: 'Roboto', sans-serif;
  font-size: 500%;
  font-weight: normal;
  color: rgb(255, 255, 255);
  text-align:center;
 
}

.subtitulo {
  font-family: 'Roboto', sans-serif;
    color: aliceblue;
    text-align:center;
}

/* MENU*/

  #menu ul {
    font-family: 'Roboto', sans-serif;
    padding:0px;
    margin:0px;
    background-color:#333;
    list-style:none;
}
#menu ul li {
     display: inline; 
    }

    #menu ul li a {
        padding: 2px 10px;
        display: inline-block;
    
        /* visual do link */
    
        color: rgb(255, 255, 255);
        text-decoration: none;
       
      }

        #menu {
          text-align: center;

        }